<%- include("_includes/header.ejs") %>

  <main>
    <% if (projects) { %>
      <h2>
        <%= projects[0] %>
      </h2>
      <% } %>
        <% projects.map(function (project) { %>
          <p>
            <%= project %>
          </p>
          <% })%>
  </main>

  <%- include("_includes/footer.ejs") %>